// Place all the styles related to the virus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Theme colors of Musikhjälpen:
$mh_green: #01b08e;
$mh_hover_green: rgba(15,129,108,.6);
$mh_dark_green: #0f816c;
$mh_heart_green: #139972;

$mh_red: #de1917;
$mh_dark_red: #720d0f;



body {
  background: rgb(15,129,108);
  background: linear-gradient(133deg, rgba(15,129,108,1) 0%, rgba(1,176,142,1) 40%, rgba(19,153,114,1) 79%, rgba(15,129,108,1) 100%);
  
}

.virus {
  background-color: $mh_hover_green;
  padding: 0;
  margin: 0;
  background-color: darken($mh_heart_green, 10);
}

svg {
  border-radius: 35%;
  padding: 12px;
  transition: ease-in .2s;
  margin-bottom: 48px;
  max-width: 100%;
}


svg:hover {
  transform: scale(1.03);
}
svg:active {
  transition: .1s;
  transform: scale(0.97);
}


.lvl-indicator {
  background: lighten($mh_red, 10) !important;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: .3s ease all;
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
